<!DOCTYPE html> 

<html lang="en"> 

<head> 

    <title>MRS PASSWORD GENERATOR </title> 

	<link href= "/public/assets/css/styles.css" rel="stylesheet" type="text/css" /> 

</head> 

<body> 

<img src="/public/password.jpg" style="left:0;width:100%;height:163px;">
<h1>Welcome To M.R.S. Password Generator</h1> 
<p>Use our online password generator to instantly create a secure, random password</p>

<div> 

<form action="" method="POST"> 
	<div class ="form-group1"> 
	<table style="width:100%" >
	<tr>
		<td colspan=2> 
			 <label for="minLen">Min Length of Password</label>
			 <input name="minLen" value=<%=result.configuration.minLen%> size="8" required></input>
		</td>
		<td colspan=2> 
			<label for="maxLen">Max Length of Password</label> 
			<input name="maxLen" value = <%=result.configuration.maxLen%> size="8" required> </input>
		</td>
	</tr>
	<tr>
		<td>
		<input type="checkbox"  name = "withNumeric" <%=result.configuration.withNumeric?"checked":""%> >With Numbers (123)</input>
		
		</td>
		<td>
			<input type="checkbox"  name = "withSymbols" <%=result.configuration.withSymbols?"checked":""%> >With Symbols(@$%)</input>
		</td>
		<td>
			<input type="checkbox" name="withUpperAlphabit" <%=result.configuration.withUpperAlphabit?"checked":""%> > With Uppercase(ABC) </input>
		</td>
		<td>
			<input type="checkbox" name="withLowerAlphabit" <%=result.configuration.withLowerAlphabit?"checked":""%>> With Lowercase(abc) </input>
		</td>
	</tr>
		<tr>
		<td colspan = "4">
			<button type="submit" class="btn btn-primary">Create</button> 
			<br>
			<font color="red"><%=result.errmsg%></font>
		</td>
	</tr>
	</table>
	</div> 
</form> 
</div> 
<div>
	<table style="width:100%">
	<tr>
		<th style="width:10%">Index </th>
		<th style="width:10%">Password</th>
		<th style="width:10%">Length of password</th>
	</tr>
	<% if(result.passwordlist.length!=0)
	{
		var i = 1;
		var passwordliststring="";
		result.passwordlist.forEach(function(data){
		passwordliststring += data + "\\r\\n";
		%>
	<tr>
		<td>
			<%=i%>
		</td>
		<td>
			<%=data%>
		</td>
		<td>
			<%=data.length%>
		</td>
	</tr>
		<tr>
		<td colspan ="3"><button onclick="copyToClipboard();"> Copy to clipboard</button></td>
	</tr>
	<% i++;
}) %> 
	<% }%>	
	</table>
	
</div>
<br>

<p>We are more than happy to hear from you, please click the email below for your feedback</p>

<p><a href="mailto:info@mrspasswordgenerator.com">info@mrspasswordgenerator.com</a></p>

 <footer> Created and tested by Steven Lei, Maribeth Bondoc Estimos and Richard (Xian)Zhang <br>
          Copyright 1978-2022. All Rights Reserved.</footer> 


</body> 
		
</html> 
